/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aa6f35;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
}

.btn-primary {
  background-color: #aa6f35 !important;
  color: #fff;
  outline: none !important;
  box-shadow: none !important;
  border: 0px solid #aa6f35 !important;
}
.btn-primary:hover {
  background-color: #af8071 !important;
}

.btn-gradient {
  margin-top: 12px !important;
  padding: 6px 16px !important;
  border-radius: 4px !important;
  background: linear-gradient(
    90deg,
    rgba(175, 128, 113, 1) 0%,
    rgba(197, 160, 126, 1) 100%
  ) !important;
  border: 0px solid #af8071 !important;
  font-size: 14px !important;
}
.btn-gradient:hover {
  color: #d3d2cf !important;
}
.btn-gradient:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
button:focus {
  box-shadow: none !important;
}
.btn-gradient-delete {
  margin-top: 12px !important;
  padding: 6px 16px !important;
  border-radius: 4px !important;
  background: linear-gradient(90deg, #df390b 0%, #aa2c08 100%) !important;
  border: 0px solid #af8071 !important;
  font-size: 14px !important;
}
.btn-gradient-delete:hover {
  color: #d3d2cf !important;
}
.btn-gradient-delete:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.input-primary {
  outline: none !important;
  box-shadow: none !important;
  border: 0px solid #aa6f35 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

#button-delete {
  font-family: inherit;
  font-weight: 400;
  padding: 4px 8px !important;
  font-size: 11px !important;
  background-color: #aa2c08 !important;
  outline: none !important;
  box-shadow: none !important;
  border: 0px solid #aa2c08 !important;
  transition: all 0.2s;
}
#button-delete:hover {
  background-color: #df390b !important;
}
#button-delete:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
*:focus {
  outline: none !important;
  box-shadow: 0 0 5px #aa6f35 !important;
  border: none !important;
}
input:hover {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
  border-color: #aa6f35 !important;
}
input {
  transition: all 0.3s !important;
}
input:focus {
  outline: none !important;
  border: 1px solid #aa6f35 !important;
  border-color: #aa6f35 !important;
  box-shadow: 0 0 5px #aa6f35 !important;
}
a:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.custom-active:active,
.custom-active:visited {
  background: #000 !important;
}

.btn-gradient-red {
  margin-top: 12px !important;
  padding: 6px 16px !important;
  border-radius: 4px !important;
  background: linear-gradient(90deg, #df390b 0%, #aa2c08 100%) !important;
  border: 0px solid #af8071 !important;
  font-size: 14px !important;
}
.btn-gradient-red:hover {
  color: #d3d2cf !important;
}
.btn-gradient-red:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
