/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aa6f35;
  border-radius: 10px;
}
body {
  overflow-x: hidden;
}

.btn-primary {
  background-color: #aa6f35 !important;
  color: #fff;
  outline: none !important;
  box-shadow: none !important;
  border: 0px solid #aa6f35 !important;
}

.btn-primary:hover {
  background-color: #af8071 !important;
}
.input-primary {
  outline: none !important;
  box-shadow: none !important;
  border: 0px solid #aa6f35 !important;
}
